<div class="test">
  <form [formGroup]="formulaForm" (ngSubmit)="onSubmit()">
    <div style="display: grid;">
      <h1 class="form-title">Formula Form</h1>
      <div>
        <button class="form-button" type="button" (click)="addColumnField()">Add Column</button>
        <button class="form-button" type="button" (click)="addSignField()">Add Sign</button>
        <button class="form-button" type="button" (click)="addParenthesis('(')"> ( </button>
        <button class="form-button" type="button" (click)="addParenthesis(')')"> ) </button>
      </div>
    </div>
    <div formArrayName="formulas" *ngIf="formulas.length > 0">
      <div [formGroupName]="0" style="display: flex; flex-direction: row;">
        <div *ngFor="let expression of getExpressions(0).controls; let j = index" [formGroupName]="j" style="display: flex; align-items: center; margin-right: 10px;">
          <ng-container *ngIf="expression.get('column')">
            <select formControlName="column">
              <option *ngFor="let column of displayedColumns" [value]="column">{{ column }}</option>
            </select>
          </ng-container>
          <ng-container *ngIf="expression.get('sign')">
            <select formControlName="sign" style="margin-left: 5px; margin-right: 5px;">
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="*">*</option>
              <option value="/">/</option>
            </select>
          </ng-container>
          <ng-container *ngIf="expression.get('parenthesis')">
            <span>{{ expression.get('parenthesis')?.value }}</span>
          </ng-container>
        </div>
        <button type="button" (click)="removeExpression(getExpressions(0).length - 1)" style="margin-left: 10px;">Remove</button>
        <input id="newCol" name="newCol" style="margin-left: 10px;">
      </div>
    </div>
    <button mat-flat-button type="submit" [disabled]="!formulaForm.valid">Sumbit</button>
    <br>
    <br>
    <h6 id="erreurType" *ngIf="validationMessage">{{ validationMessage }}</h6>
        <div *ngIf="showAdditionalButtons" style="margin-top: 10px;">
      <button class="form-button" type="button" (click)="addCreatedColumn()">Add Created Column</button>
      <button class="form-button" type="button" (click)="clearForm()">Clear</button>
    </div>
  </form>

  <div *ngIf="chosenColumns.length > 0">
    <h2>Chosen Columns</h2>
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of chosenColumns">{{ column }}</th>
          <th>{{ this.var }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of paginatedResults">
          <td *ngFor="let column of chosenColumns">{{ row[column] }}</td>
          <td>{{ row.result }}</td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="fileContentAff.length" [pageSize]="100" (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>
