<form *ngIf="chartForm" [formGroup]="chartForm">
  <label>Number of Charts:</label>
  <input type="number" formControlName="numberOfGraphs">

  <div formArrayName="graphForms">
    <div *ngFor="let graphFormGroup of graphForms.controls; let i = index" [formGroupName]="i">
      <fieldset>
        <legend>Chart {{ i + 1 }}</legend>

        <label>Chart Type:</label>
        <select formControlName="chartType">
          <option *ngFor="let mapping of graphTypeColumnMapping" [value]="mapping.chartType">
            {{ mapping.chartType }}
          </option>
        </select>

        <div formArrayName="columns">
          <div *ngFor="let columnControl of graphFormGroup.get('columns')?.value; let j = index">
            <label>Column Name {{ j + 1 }}:</label>
            <select (change)="onColumnNameSelected($event)">
              <option *ngFor="let column of displayedColumns" [value]="column">{{ column }}</option>
            </select>
          </div>
        </div>

        <!-- Button to create graph -->
        <button type="button" (click)="createGraph(i)">Create Graph</button>
      </fieldset>

      <!-- Unique figure element for each chart -->
      <figure id="line-chart-{{ i }}"></figure>
      <figure id="bar-chart-{{ i }}"></figure>
      <figure id="multi_series_line_chart-{{ i }}"></figure>
      <figure id="stacked_bar_chart-{{ i }}"></figure>
      <figure id="pie_chart-{{ i }}"></figure>
      <figure id="brush_zoom-{{ i }}"></figure>
      <figure id="donut_chart-{{ i }}"></figure>

    </div>
  </div>
</form>
