<div>
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input id="username" formControlName="username">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <button type="submit">Register</button>
    </form>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
    <p>
      You have an account? <a routerLink="/login">Login here</a>
    </p>
</div>
  